@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@font-face {
  font-family: Tangerine;
  src: url("./font/Tangerine_Bold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('./img/asad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

/* Add a dark overlay */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body * {
  z-index: 1;
}

h1 {
  font-size: 100px;
  margin: -80px 0 80px;
  font-family: 'Tangerine', cursive;
}

.year {
  font-size: 150px;
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.countdown {
  /* display: flex; */
  display: none;
  transform: scale(2);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  margin: 0 0 10px;
}

@media (max-width: 460px) {
  h1 {
    font-size: 42px;
  }

  .time {
    margin: 3px;
  }

  .time h2 {
    font-size: 10px;
    margin: 0;
  }

  .time small {
    font-size: 8px;
  }

  .year {
    font-size: 100px;
    z-index: -1;
    opacity: 0.1;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  body {
    background-image: url('./img/asad.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }
}